@{
    ViewData["Title"] = "Insurance Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
        <img class="right-image" src="~/customer-assets/images/background/insurance-form-right-bg.png"
             alt="" />
    </div>
    <div class="service-container" style="
              background-image: url('https://themeim.com/');
            ">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer" style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
        </div>

        <div class="auto-container">
            <h1>Insurance Form</h1>
            <ul class="page-breadcrumb">
                <li><a href="index-2.html">home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- Insurance Page Section -->
<section class="insurance-page-section">
    <div class="auto-container">
        <div class="inner-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <h2>
                    Up to 50% Off* on <br />
                    Car Insurance
                </h2>
                <div class="text">
                    We are a professional and creative company and we offer you a
                    trusty insurance on <br />
                    your veicle.
                </div>
            </div>
            <!-- End Sec Title -->
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer" style="background-image: url('@Url.Content("~/customer-assets/images/icons/icon-1.png")')"></div>
            </div>
            <div class="row clearfix">
                <!-- Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h4>Owner Info</h4>

                        <!-- Login Form -->
                        <div class="styled-form">
                            <form method="post" action="https://themeim.com/demo/carsore/index.html">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Enter your Name *</label>
                                        <span class="icon flaticon-user-2"></span>
                                        <input type="text" name="username" value="" placeholder="Your Name" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Enter your Email*</label>
                                        <span class="icon flaticon-envelope"></span>
                                        <input type="password" name="email" value="" placeholder="Your Email" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Re-enter your password</label>
                                        <span class="icon flaticon-phone-call"></span>
                                        <input type="password" name="password" value="" placeholder="Your Phone Number" required />
                                    </div>
                                </fieldset>
                                <h4>Veicle Info</h4>

                                <fieldset>
                                    <div class="form-group">
                                        <label>What is your vehicle number*</label>
                                        <span class="icon flaticon-edit"></span>
                                        <input type="text" name="username" value="" placeholder="Your policy number" required />
                                    </div>
                                    <div class="form-group">
                                        <label>What is your city*</label>
                                        <span class="icon flaticon-edit"></span>
                                        <select class="custom-select-box insurence-form-border nice-select">
                                            <option>Your City</option>
                                            <option>City 01</option>
                                            <option>City 02</option>
                                            <option>City 03</option>
                                            <option>City 04</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>What is your car model?*</label>
                                        <span class="icon flaticon-edit"></span>
                                        <select class="custom-select-box insurence-form-border nice-select">
                                            <option>Your VPN Number</option>
                                            <option>VPN 01</option>
                                            <option>VPN 02</option>
                                            <option>VPN 03</option>
                                            <option>VPN 04</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>What is you car fuel type*</label>
                                        <span class="icon flaticon-edit"></span>
                                        <select class="custom-select-box insurence-form-border nice-select">
                                            <option>Your Car fuel type</option>
                                            <option>fuel 01</option>
                                            <option>fuel 02</option>
                                            <option>fuel 03</option>
                                            <option>fuel 04</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>What is you car Purchase date & year*</label>
                                        <span class="icon flaticon-edit"></span>
                                        <span class="calendar-icon flaticon-calendar"></span>
                                        <input class="datepicker" autocomplete="off" type="text" name="username" value=""
                                               placeholder="DD/MM/YYYY" required />
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row clearfix">
                                        <!-- Column -->
                                        <div class="column col-lg-6 col-md-6 col-sm-12">
                                            <h6>Vehicle for:</h6>
                                            <div class="form-group margin">
                                                <div class="radio-box">
                                                    <input type="radio" name="remember-password" id="type-19" />
                                                    <label for="type-19">Commercial use</label>
                                                </div>
                                            </div>
                                            <div class="form-group margin">
                                                <div class="radio-box">
                                                    <input type="radio" name="remember-password" id="type-22" />
                                                    <label for="type-22">Personal Use</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Column -->
                                        <div class="column col-lg-6 col-md-6 col-sm-12">
                                            <h6>Policy status:</h6>
                                            <div class="form-group margin">
                                                <div class="radio-box">
                                                    <input type="radio" name="remember-password" id="type-33" />
                                                    <label for="type-33">Policy Expired</label>
                                                </div>
                                            </div>
                                            <div class="form-group margin">
                                                <div class="radio-box">
                                                    <input type="radio" name="remember-password" id="type-44" />
                                                    <label for="type-44">Policy not expired</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <button type="button" class="theme-btn btn-style-one">
                                        <span class="txt">Confirm <i class="fa fa-arrow-circle-right"></i></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h4>Pick some offers :</h4>

                        <!-- Login Form -->
                        <div class="styled-form">
                            <form method="post" action="https://themeim.com/demo/carsore/index.html">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="radio-box-two">
                                            <input type="radio" checked name="remember-password" id="type-5" />
                                            <label for="type-5">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="radio-box-two">
                                            <input type="radio" name="remember-password" id="type-6" />
                                            <label for="type-6">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="radio-box-two">
                                            <input type="radio" name="remember-password" id="type-7" />
                                            <label for="type-7">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <h4>Additional Items :</h4>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="radio-box-two style-two">
                                            <input type="radio" name="remember-password" id="type-8" />
                                            <label for="type-8">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span><span class="price">20$</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="radio-box-two style-two">
                                            <input type="radio" name="remember-password" id="type-9" />
                                            <label for="type-9">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span><span class="price">20$</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="radio-box-two style-two">
                                            <input type="radio" name="remember-password" id="type-20" />
                                            <label for="type-20">
                                                <strong>Saved $10</strong> This is 10%
                                                discount<span class="radio-two-icon flaticon-hand"></span><span class="price">20$</span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <!-- Expiry Box -->
                        <div class="expiry-box">
                            <div class="box-inner" style="
                          background-image: url('@Url.Content("~/customer-assets/images/resource/insurance.jpg")');
                        ">
                                <h3>
                                    We will remind you before <br />
                                    your current policy expire.
                                </h3>
                                <a class="btn-style-two theme-btn" href="about.html">
                                    <span class="txt">Click Here</span><i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Expiry Box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
<!-- CTA Section -->
<section class="cta-section">
    <div class="auto-container">
        <div class="inner-container" style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-5.png")')">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3>Let us take care about your veicle</h3>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="newsletter-form">
                            <form method="post" action="https://themeim.com/demo/carsore/contact.html">
                                <div class="form-group">
                                    <span class="icon fa fa-envelope"></span>
                                    <input type="email" name="email" value="" placeholder="Enter your mail" required="" />
                                    <button type="submit" class="theme-btn flaticon-send"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End CTA Section -->
