<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="~/customer-assets/images/background/header-left-bg.png" alt="" />
        <img class="right-image" src="~/customer-assets/images/background/insurance-form-right-bg.png" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer"
                style="background-image: url('@Url.Content("~/customer-assets/images/background/pattern-8.png")')">
            </div>
        </div>

        <div class="auto-container">
            <h1>Insurance Form</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li>Moto Insurance</li>
            </ul>
        </div>
    </div>
</section>
