<div class="content-body">
    <!-- Main Content -->
    <div class="col-md-12 col-12">
        <div class="bg-white p-4 rounded shadow-sm mb-4">
            <div class="d-flex flex-wrap align-items-center">
                <img src="https://smilemedia.vn/wp-content/uploads/2022/09/cach-chup-hinh-the-dep.jpeg"
                     alt="User Photo"
                     class="rounded-circle me-3 img-fluid border border-secondary"
                     style="
                                    max-width: 100px;
                                    height: auto;
                                    border-width: 3px;
                                " />

                <div style="margin-left: 10px;">
                    <h5>Cameron Williamson</h5>
                    <p class="text-muted mb-0">
                        comeronwilliamson@hotmail.com
                    </p>
                    <span>Last sign in: 4 minutes ago</span>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-secondary btn-sm">
                    <i class="fas fa-user-ninja"></i> Impersonate
                    User
                </button>
                <button class="btn btn-danger btn-sm">
                    <i class="fas fa-ban"></i> Ban User
                </button>
                <button class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete User
                </button>
            </div>
        </div>

        <div class="row">
            <!-- Personal Information -->
            <div class="col-md-6 col-12 mb-3">
                <div class="bg-white p-4 rounded shadow-sm">
                    <h6>
                        <i class="fas fa-info-circle"></i> Personal
                        Information
                    </h6>
                    <p><strong>First Name:</strong> Cameron</p>
                    <p>
                        <strong>Email Address:</strong>
                        comeronwilliamson@hotmail.com
                    </p>
                    <p>
                        <strong>Phone Number:</strong> (629)
                        555-0129
                    </p>
                </div>
            </div>
            <!-- Social Media Accounts -->
            <div class="col-md-6 col-12">
                <div class="bg-white p-4 rounded shadow-sm">
                    <h6>
                        <i class="fas fa-share-alt"></i> Social
                        Media Account
                    </h6>
                    <p>
                        <strong>Facebook:</strong>
                        <a href="#">https://www.facebook.com/comeronw</a>
                    </p>
                    <p>
                        <strong>Instagram:</strong>
                        <a href="#">https://www.instagram.com/comeronw</a>
                    </p>
                    <button class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i> Add Social Media
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>